
/*Selector de todos los elementos (  *{}  )*/
*{
    box-sizing: border-box;/*Propiedad que se utiliza para mantener el tamaño original de un objeto aun cuando se 
                            agregan espacios internos*/
}

/*Selector por nombre de etiqueta (  nombre de etiqueta "p" "a" "body"  )*/

body{
    font-family: "Roboto";/*Fuente tipografica*/
    font-size: 13px;
}

a{
    display: inline-block;/**/
}



p{
    color: black;
}
header{

    background-color: black;
    padding: 15px 0;
    position: fixed;/*Se usa para posiciones fijas*/
    top: 0;
    left: 0;
    z-index: 2;/*Se usa por que la seccion inicio no tiene una posicion y por lo tanto heder quedo atras al manejarse por capas
                 esta propiedad se usa para traerlo al frente*/
    width: 100%;
    
    /*margin-bottom: 15px ;
    margin-top: 15px;*/

}

/*Selector por clase (  .nombre de la clase  ".container" )*/
header .container{ /*Hace referencia al container que se encuantra dentro de header*/

    display: flex ; /* display :cambia el comportamiento de un elemento */
    justify-content: space-between;/* justify-content: alinea los elementos con respecto al eje x
                                      space-between: hace que los elementos en ese espacio se acomoden*/
    align-items: center; /*alinea los elementos en base al eje y de manera centrada*/
}

header .container .logo{/*Hace referencia al logo que se encuentr en container que se encuantra dentro de header*/

    width: 100px ; /*ancho de imagen*/
}

header .container nav a{ /*Hace referencia a la etiqueta 'a' dentro de nav, dentro de container que se encuantra dentro de header*/

   color: red;/*color a la etiqueta 'a' dentro de container dentro de header*/
   text-decoration: none;/*quita el subrayado de la etiqueta 'a'*/
   margin: 0 15px ;/*espacio externo del elemento*/
}

.boton{
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    border: none;/* quita el borde atodos los botones*/
}
.boton.boton-rojo{/*Hace referencia a la clase boton que a su vez tambien es clase boton-rojo (etiqueta con dos clases)*/
    
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold; /* profundidad de fuente */
}

.boton.boton-blanco{/*Hace referencia a la clase boton que a su vez tambien es clase boton-rojo (etiqueta con dos clases)*/
   
    background-color: white;
    color:red;
    font-size: 16px;
    font-weight: bold; /* profundidad de fuente */
    border: 1px solid red;
}
.boton.boton-negro{/*Hace referencia a la clase boton que a su vez tambien es clase boton-rojo (etiqueta con dos clases)*/
    
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold; /* profundidad de fuente */
}
.boton.boton-negro:hover{/*Hace referencia a la clase boton que a su vez tambien es clase boton-rojo (etiqueta con dos clases)*/
    
    background-color:white;
    color:black;
    
}


.seccion{
    padding-top: 60px;
    padding-bottom: 60px;
}

.cuadrado-perfecto{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}
.cuadrado-perfecto img{
    width: 100%;
    height: 100%;
    object-fit: cover ;/*Etiqueta solo para img y video -- cubre todo el espacio*/
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;


}

.container{
    width: 1140px ;/* ancho de un elemento en este caso todos los container */
    margin: 0 auto;/*Espacio del borde (se agrgego para amntenber espacios iguales de los lados y centrar los elementos)*/
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.container-fluid{
    width: 100% ;/* ancho de un elemento en este caso todos los container */
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.row{
    display: flex;
    flex-wrap: wrap;/*si una columna no entra se va hacia abajo*/
    /*flex-wrap: nowrap; todas las columnas entran enun fila*/
    margin-left: -15px ;
    margin-right: -15px;
}

.columna{
    padding-right: 15px;
    padding-left: 15px;
}
.columna-33{
    width: 33.33%;
}
.columna-41{
    width: 41.66%;
}

.columna-50{
    width: 50%;
}
.empujar-50{
    margin-left:50% ;

}
.empujar-58{
    margin-left:58.3% ;

}
.empujar-66{
    margin-left:66.66% ;

}
.empujar-0{
    margin-left: 0%;

}

/*Selector por id (  #id  "#inicio" )*/
#inicio{ /*hace referencia a la etiqueta con id inicio*/

    position: relative;/*Se coloco posicion relativa en elemento padre para poder acomodar un elemento hijo con posicion absoluta*/
}
#inicio img{ /*hace referencia a la etiqueta img que se encuentra en la etiqueta con id inicio*/

    width: 100%;
    display: block; /*acomoda la imagen al acho de la pantalla sin espacios*/

}
#inicio .bloque-inicio{ /*hace referencia a la etiqueta con clase bloque-inicio con id inicio*/

    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    text-align: center; /*ayuda a centrar los textos y elemento s de tipo inline*/
    margin-left: -200px;/*margin trabaja con numeros negativos*/
   
}

#inicio .bloque-inicio h1{ /*Hace referencia al h1 que se encuentra en la etiqueta con clase bloque-inicio con id inicio*/

    color: white; /*color de texto*/
    font-size: 35px; /*Tamaño de fuente*/

}
#inicio .bloque-inicio p{

    color: white;
    font-size: 16px;
}
 #nosotros{
    background-image: url(imagenes/latas.jpg);/*imagen de fondo*/
    background-size: cover;/*aprobecha el tamaño del fondo y cubre todo el espacio disponible*/
    color: white;
    text-align: center;

 }
 #nosotros p{
    color: white;
    text-align: center;
    font-size: 16px;
    /*margin: 0;*/
 }
 #servicios .bloque-servicio{
    border: 1px solid gray;
 }
 #servicios .bloque-servicio .bloque-img-servicio{

 }
 #servicios .bloque-servicio .bloque-img-servicio img{
    width: 100%;
    
 }

 #servicios .bloque-servicio .bloque-img-servicio.cuadrado-perfecto{

    padding-bottom: 56.25%;/*aprox 16:9 */

 }

 #servicios .bloque-servicio .bloque-contenido-servicio{
    padding: 15px ;
    
 }
 #servicios .bloque-servicio .bloque-contenido-servicio h3{
    
    margin-top: 0;
    font-size: 25px;
    
 }
 #galeria{

 }
 #galeria h4{
    padding-right: 15px;
    text-align: center;
    position: absolute;
    top: 40%;
    color:white;
    font-size: 18px;
    width: 100%;

    
 }
 #galeria img{
    filter: grayscale(1);/*volver blanco y negro*/
 }

 #galeria .cuadrado-perfecto:hover img{

    filter: grayscale(0);/*volver blanco y negro*/
 }
 #galeria .cuadrado-perfecto:hover h4{

    display: none;
 }

 #contactenos{
    position: relative;
 }
 #contactenos iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;/*% de que ?alto de que? (en este caso el del fromulario)*/
 }
 #contactenos form{
    padding: 60px;
    background-color: red;
 }
 #contactenos form .form-block{
    width: 100%;
    margin-bottom: 15px;
  
 }
 #contactenos form .form-block .form-control{
    display: block;
    height: 40px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
 }
 #contactenos form .form-block .form-control textarea{
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
 }
 #contactenos form .form-block.bloque-ultimo{
    margin-bottom:0 ;
 }

 